*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(pexels-pixabay-159490.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.footer{
    background-color: none;
    text-align: right;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: none;
    width: 100%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    margin: 10px 0 40px;
    font-size: 40px;
    color: #fff;
}
.minds-btn{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 12px;
    font-size: 13px;
    background: transparent;
    position: relative;
    pointer: relative;
}
.minds-btn:hover{
    color: #f44336;
    transition: 1s;
}
.Education{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    border: 1px solid black;
    border-radius: 10px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    position: center;
}
.Learning{
    text-align: center;
}
.courses{
    text-align: center;
}
.sports{
    text-align: center;
    margin: auto;
    width: 70%;
}
.sports-col img{
    width: 40%;
    height: 500px;
    margin-left: 2px;
    margin-right: 30px;
}
.contact{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(pexels-pixabay-159490.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}
.footer{
    text-align: center;
}
.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.contact h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
